.main{
    @include container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    grid-row-gap: 43px;

    &__title{
        max-width: 576px;
        width: 100%;
        font-family: $main-f-f;
        font-size: 114px;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

.prg{
    @include prg-main;
    align-items: center;
    padding-top: 15px;
    grid-column-start: 3;
    grid-column-end: 5;
}

.prg__box{
    grid-column-start: 1;
    grid-column-end: 3;
}

.empty{
    grid-column-start: 1;
    grid-column-end: 2;
}

.about{
    font-family: $main-f-f;
    font-size: $second-prg-f-z;
    max-width: 294px;
    width: 100%;
    padding-top: 13px;
}