.main{
    @include container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    &__title{
        max-width: 576px;
        width: 100%;
        font-family: $main-f-f;
        font-size: 114px;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    &__card{
        align-items: center;
        justify-items: center;
    }
}

.prg{
    @include prg-main;
    align-items: center;
}

.prg__box{
    grid-column-start: 1;
    grid-column-end: 3;
}

.empty{
    grid-column-start: 1;
    grid-column-end: 2;
}

.about{
    font-family: $main-f-f;
    font-size: $second-prg-f-z;
}